<!-- 
File: base.html
Author: Emily Yang (eyang4@bu.edu), 6/17/2025
Description: a base page that provides a header and navigation for the page, 
as well as including any necessary style information. 
--> 

{% load static %} 

<html> 
    <head>
        <title>Focus Tool</title> 
        <link rel="stylesheet" href="{% static 'styles-project.css' %}"> 
    </head> 

    <body> 
        <header>
            <h1>Focus Tool</h1>
                <nav>
                    <a href="{% url 'create_timer' %}">Start Study Session</a> |
                    <a href="{% url 'todo_list' %}">Todo-List</a> | 
                    <a href="{% url 'show_all_tags' %}">Task Tags</a> | 
                    <a href="{% url 'all_profiles' %}">User Profile</a> 
                </nav>
            <hr>
        </header> 

        <main>
        {% block content %} 
        {% endblock %} 
        </main> 

        
        <footer>
            <hr> 
            Creator of this web application: Emily Yang             
        </footer> 

    </body> 
</html> 