<!-- 
File: create_timer_form.html
Author: Emily Yang (eyang4@bu.edu), 6/18/2025
Description: a create_timer_form page to display the HTML form to create a new Timer object. 
--> 

{% extends 'project/base.html' %} 

{% block content %} 

<h1> Create a New Study Session </h1> 
<br> 

<form method = 'POST' style="margin-left: 400px; margin-right: 250px;"> 
{% csrf_token %} 

    <table > 
        {% for field in form %} 
        <tr> 
            <th>{{field.name}}</th>
            <td>{{field}}</td>
        </tr> 
        {% endfor %} 
        
        <tr>
            <td></td> 
            <td>
                <input type='submit' value= 'Create'>
            </td>
        </tr>

    </table>
</form> 

{% endblock %} 