<!-- 
File: delete_task_form.html
Author: Emily Yang (eyang4@bu.edu), 6/3/2025
Description: a delete_task_form page to display the HTML form to delete a TaskDescription object. 
--> 

{% extends 'project/base.html' %}

{% block content %}
<h1>Delete Task?</h1>

<div style="margin-left: 400px; margin-right: 250px;"> 
    <p> {{task_description.task}} </p>
    <p> <b> Are you sure you want tot delete this task? </b> </p> 
</div> 

<!-- display the HTML form --> 
<form method="POST" style="margin-left: 400px; margin-right: 250px;" >
    {% csrf_token %} 
    <input type="submit" name="submit" value="Delete">
</form> 

<!-- Add a separate form for a concel button --> 

<form action="{% url 'todo_list' %}" method='GET' style="margin-left: 400px; margin-right: 250px;">
    <input type="submit" value="Cancel"> 
</form>   
{% endblock %} 

