<!-- 
File: show_all_tags.html
Author: Emily Yang (eyang4@bu.edu), 6/20/2025
Description: a show_all_tags page to display all task tags. 
--> 

{% extends 'project/base.html' %} 

{% block content %} 
<div style="margin-left: 400px; margin-right: 450px;">  
    <h1> Profiles </h1> 

    <div style="justify-content: center;">  
        <div style="margin-left: 200px; margin-right: 180px;"> 
            {% for p in all_profiles %} 
                <a href="{% url 'profile' p.id %}"> {{p.first_name}} {{p.last_name}} </a> 
            {% endfor %}
        </div> 
       
    </div> 
</div> 




{% endblock %} 