<!-- 
File: show_daily_focus_time_chart.html
Author: Emily Yang (eyang4@bu.edu), 6/20/2025
Description: a show_daily_focus_time_chart page to display a pie 
chart and a bar chart of daily focus time distribution. 
--> 

{% extends 'project/base.html' %}

{% block content %}
<div class="container">
    <h1>Daily Focus Time Distribution</h1> 

    <!-- show the pir chart --> 
    <div class="row">
        {{graph_div_pie|safe}} 
    </div> 

    <!-- show the bar chart -->     
    <div class="row">
        {{graph_div_bar|safe}} 
    </div>
</div>

{% endblock %}
