<!-- 
File: show_all_tags.html
Author: Emily Yang (eyang4@bu.edu), 6/20/2025
Description: a show_all_tags page to display all task tags. 
--> 

{% extends 'project/base.html' %} 

{% block content %} 
<div style="margin-left: 400px; margin-right: 450px;">  
    <h1> 
        {% if profile.profile_image_file %}
        <img src="{{profile.profile_image_file.url}}" alt="" style="height:100px;" class="center"> 
        {% endif %}
        {{profile.first_name}} {{profile.last_name}} 
    </h1> 

    <u> 
        <p style="text-align: center;"> 
        {% if request.user.is_authenticated and request.user == profile.user %}    
            <b><a href="{% url 'update_user_profile' %}">Update Profile </a></b>    
        {% endif %} 
        </p> 
    </u> 

    Current number of snacks: {{profile.current_number_of_snacks}} 

    <div style="justify-content: center;">  
        <div style="margin-left: 200px; margin-right: 180px;"> 
            {% for pet in profile.get_all_pets %} 
                {{pet.name}} 
                Affection Level: {{pet.affection_level}} 

                {% if request.user.is_authenticated and request.user == profile.user %}    
                    <!-- If the user has enough snacks, allow them to feed their pet --> 
                    {% if profile.current_number_of_snacks >= 100 %}
                    <form action="{% url 'feed_pet' pet.pk %}" method="POST" > 
                        {% csrf_token %} 
                        <input type="submit" name="submit" value="Feed {{pet.name}} snacks (doing so would take you 100 snacks)">
                    </form> 
                    {% endif %} 
                {% endif %} 

                <img src="{{pet.image_url}}" alt="" style="height:300px;" class="center"> 

            {% endfor %}
        </div> 

        {% if request.user.is_authenticated and request.user == profile.user %}    
            {% if profile.current_number_of_snacks >= 7500 %} 
                <form action="{% url 'adopt_pet' profile.pk %}" method="POST" > 
                    {% csrf_token %} 
                    <input type="submit" name="submit" value="Adopt a new pet (doing so would take you 7500 snacks)"> 
                </form> 
            {% endif %} 
        {% endif %}
    </div> 
</div> 




{% endblock %} 