<!-- 
File: base.html
Author: Emily Yang (eyang4@bu.edu), 5/24/2025
Description: a base page that provides a header and navigation for the page, 
as well as including any necessary style information. 
--> 

{% load static %}
<html lang="en">
    <head>
        <title>{% block title %}Emily's Restaurant{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'styles.css' %}">
    </head>
    <body>
        <header>
            <h1>Emily's Restaurant</h1>
                <nav>
                    <a href="{% url 'main' %}">Main</a> |
                    <a href="{% url 'order' %}">Order</a> 
                </nav>
            <hr>
        </header>

        <main>
            {% block content %}
            {% endblock %}
        </main>

        <footer>
            <hr> 
            Creator of this web application: Emily Yang             
        </footer>
    </body>
</html>
