<!-- 
File: base.html
Author: Emily Yang (eyang4@bu.edu), 5/27/2025
Description: a base page that provides a header and navigation for the page, 
as well as including any necessary style information. 
--> 

{% load static %} 

<html> 
    <head>
        <title>Mini Facebook</title> 
        <link rel="stylesheet" href="{% static 'styles.css' %}"> 
    </head> 

    <body> 
        <head>
            <h1> Mini Facebook</h1> 
            <nav> 
                <ul>
                    <a href="{% url 'show_all_profiles' %}"> All Profiles </a> 
                    <!-- Add: URLs for authentication --> 
                    {% if request.user.is_authenticated %}    
                    <form action="{% url 'logout' %}" method="POST">
                        {%csrf_token%}
                        <input type="submit" value="Log Out">
                    </form> 

                    <!-- URLs for users who are not logged in -->
                    {% else %} 
                    <a href="{% url 'create_profile' %}"> | Create Profile | </a> 
                    <a href="{% url 'login' %}">Login</a> 
                    {% endif %} 
                </ul> 
                <hr> 
                {% if request.user.is_authenticated %} 
                Logged in as: {{request.user}} 
                {% else %} 
                Not logged in. 
                {% endif %}
            </nav> 
        </head> 

        <main>
        <!-- substitute in the specific content here --> 
        {% block content %} 
        {% endblock %} 
        </main> 

        
        <footer>
            <hr> 
            Creator of this web application: Emily Yang             
        </footer> 

    </body> 
</html> 