<!-- 
File: create_status_form.html
Author: Emily Yang (eyang4@bu.edu), 5/29/2025
Description: a create_status_form page to display the HTML form to create a new StatusMessage object. 
--> 

{% extends 'mini_fb/base.html' %} 

{% block content %} 

<h1> Post a status message for {{profile.first_name}} {{profile.last_name}} </h1> 
<br> 

<form method = 'POST' enctype="multipart/form-data" style="margin-left: 400px; margin-right: 250px;"> 
{% csrf_token %} 

    <table > 
        {% for field in form %} 
        <tr> 
            <th>{{field.name}}</th>
            <td>{{field}}</td>
        </tr> 
        {% endfor %} 

        <tr>
            <td></td> 
            <td>
                <input type="file" name = "files" multiple/>
            </td>
        </tr>
        
        <tr>
            <td></td> 
            <td>
                <input type='submit' name = 'Add Status Message!' value= 'add status message'>
            </td>
        </tr>

    </table>
</form> 

<form action="{% url 'show_profile' profile.pk %}" method='GET' style="margin-left: 400px; margin-right: 250px;">
    <input type="submit" value="Cancel"> 
</form> 


{% endblock %} 