<!-- 
File: friend_suggestions.html
Author: Emily Yang (eyang4@bu.edu), 6/6/2025
Description: a friend_suggestions page to display the friend suggestions for 
a single Profile, along with links to add friends. 
--> 

{% extends 'mini_fb/base.html' %} 

{% block content %} 
<h1>People {{profile.first_name}} {{profile.last_name}} may know: </h1> 

<u> 
    <p style="text-align: center;">
        <b><a href="{% url 'show_profile' profile.pk %}">Return to Profile Page</a></b> 
    </p> 
</u> 

{% if profile.get_friend_suggestions %} 
    <div style="display: flex; gap: 20px; flex-wrap: wrap; justify-content: center;">
        {% for suggestion in profile.get_friend_suggestions %} 
            <div style="text-align: center;"> 
                <form action="{% url 'add_friend' profile.pk suggestion.pk %}" method='GET'> 
                    <img src="{{suggestion.profile_image_url}}" alt="" style="height:150px;" > <br> 
                    <p> {{suggestion.first_name}} {{suggestion.last_name}} </p> 
                    <input type="submit" value="Add Friend"> 
                </form> 
            </div> 
        {% endfor %} 
    </div> 

{% else %} 
    <p> No Friend Suggestions So Far </p> 
{% endif %} 


{% endblock %} 