<!-- 
File: show_profile.html
Author: Emily Yang (eyang4@bu.edu), 5/27/2025
Description: a show_profile page to display profile informations of the selected user. 
--> 

{% extends 'mini_fb/base.html' %} 

{% block content %} 
<h1>{{profile.first_name}} {{profile.last_name}}</h1> 

<div style="margin-left: 280px; margin-right: 250px;">  
    <u> 
        <p style="margin-left: 280px;">
            <b><a href="{% url 'update_profile' profile.pk %}">Update Profile | </a></b> 
            <b><a href="{% url 'create_status' profile.pk %}">Create a Status Message</a></b> 
        </p> 
    </u> 

    <table>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>City</th> 
            <th>Email Address</th> 
            <th>Profile Image</th> 
            <th>Status Messages</th> 
        </tr>   
            
        <tr>
            <td>{{profile.first_name}}</td>
            <td>{{profile.last_name}}</td>
            <td>{{profile.city}}</td> 
            <td>{{profile.email_address}}</td> 
            <td><img src="{{profile.profile_image_url}}" alt="" style="height:300px;" class="center"></td> 
            <td> 
                <!-- display the status messages --> 
                {% for status_message in profile.get_status_messages %}
                    <div>
                        <p> {{status_message.message}} </p> 

                        {% for img in status_message.get_images %} 
                            <img src='{{img.image_file.url}}' alt="" style="height:300px;" class="center"> <br>
                        {% endfor %} 

                        <form action="{% url 'delete_status' status_message.pk %}" method='GET' >
                            <input type="submit" name="submit" value="Delete">
                        </form> 

                        <form action="{% url 'update_status' status_message.pk %}" method='GET' >
                            <input type="submit" name="submit" value="Update">
                        </form> 
                    </div>
                {% endfor %} 
            </td> 
        </tr> 

    </table> 

</div> 
{% endblock %} 